.Name{
    font-weight:300;
    color:blue;
}

.School{
    color:crimson;
}

.Total{
    color:darkmagenta;
}

.Score{
    color:forestgreen;
}

.formatstyle{
    text-align:center;
    margin-top:60px;
    font-size:large;
}