.App{
  font-family: Arial, Helvetica, sans-serif;
  margin-left:80px;
  margin-top:40px;
}

.office-card{
  margin-top:40px;
}

img{
  width:250px;
  height:200px;
  border-radius:6px;
}

h1{
  font-size:38px;
}

h2{
  margin-top:20px;
}

h3{
  margin:8px 0;
}